/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Containers
------------------------------------*/
.container {
	margin: 0 auto;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}



/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
    position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.grid_1 {width: 87px;}
.grid_2 {width: 194px;}
.grid_3 {width: 301px;}
.grid_4 {width: 408px;}
.grid_5 {width: 515px;}
.grid_6 {width: 622px;}
.grid_7 {width: 729px;}
.grid_8 {width: 836px;}
.grid_9 {width: 943px;}
.grid_10 {width: 1050px;}
.grid_11 {width: 1157px;}
.grid_12 {width: 1264px;}


/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
 .prefix_1 {padding-left: 36px;}
 .prefix_2 {padding-left: 72px;}
 .prefix_3 {padding-left: 108px;}
 .prefix_4 {padding-left: 144px;}
 .prefix_5 {padding-left: 180px;}
 .prefix_6 {padding-left: 216px;}
 .prefix_7 {padding-left: 252px;}
 .prefix_8 {padding-left: 288px;}
 .prefix_9 {padding-left: 324px;}
 .prefix_10 {padding-left: 360px;}
 .prefix_11 {padding-left: 396px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
 .suffix_1 {padding-right: 36px;}
 .suffix_2 {padding-right: 72px;}
 .suffix_3 {padding-right: 108px;}
 .suffix_4 {padding-right: 144px;}
 .suffix_5 {padding-right: 180px;}
 .suffix_6 {padding-right: 216px;}
 .suffix_7 {padding-right: 252px;}
 .suffix_8 {padding-right: 288px;}
 .suffix_9 {padding-right: 324px;}
 .suffix_10 {padding-right: 360px;}
 .suffix_11 {padding-right: 396px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
 .push_1 {left: 36px;}
 .push_2 {left: 72px;}
 .push_3 {left: 108px;}
 .push_4 {left: 144px;}
 .push_5 {left: 180px;}
 .push_6 {left: 216px;}
 .push_7 {left: 252px;}
 .push_8 {left: 288px;}
 .push_9 {left: 324px;}
 .push_10 {left: 360px;}
 .push_11 {left: 396px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
 .pull_1 {left: -36px;}
 .pull_2 {left: -72px;}
 .pull_3 {left: -108px;}
 .pull_4 {left: -144px;}
 .pull_5 {left: -180px;}
 .pull_6 {left: -216px;}
 .pull_7 {left: -252px;}
 .pull_8 {left: -288px;}
 .pull_9 {left: -324px;}
 .pull_10 {left: -360px;}
 .pull_11 {left: -396px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}



.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container {
  zoom: 1;
}