/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Containers
------------------------------------*/
.container {
	margin: 0 auto;
	width: 720px;
}

/* `Grid >> Global
------------------------------------*/
.grid {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



/* `Grid
------------------------------------*/
.grid_1  { .grid; width: 40px;  }
.grid_2  { .grid; width: 100px; }
.grid_3  { .grid; width: 160px; }
.grid_4  { .grid; width: 220px; }
.grid_5  { .grid; width: 280px; }
.grid_6  { .grid; width: 340px; }
.grid_7  { .grid; width: 400px; }
.grid_8  { .grid; width: 460px; }
.grid_9  { .grid; width: 520px; }
.grid_10 { .grid; width: 580px; }
.grid_11 { .grid; width: 640px; }
.grid_12 { .grid; width: 700px; }

/* `Prefix
------------------------------------*/
.prefix_1  { padding-left: 80px;  }
.prefix_2  { padding-left: 160px; }
.prefix_3  { padding-left: 240px; }
.prefix_4  { padding-left: 320px; }
.prefix_5  { padding-left: 400px; }
.prefix_6  { padding-left: 480px; }
.prefix_7  { padding-left: 560px; }
.prefix_8  { padding-left: 640px; }
.prefix_9  { padding-left: 720px; }
.prefix_10 { padding-left: 800px; }
.prefix_11 { padding-left: 880px; }

/* `Suffix
------------------------------------*/
.suffix_1  { padding-right: 80px;  }
.suffix_2  { padding-right: 160px; }
.suffix_3  { padding-right: 240px; }
.suffix_4  { padding-right: 320px; }
.suffix_5  { padding-right: 400px; }
.suffix_6  { padding-right: 480px; }
.suffix_7  { padding-right: 560px; }
.suffix_8  { padding-right: 640px; }
.suffix_9  { padding-right: 720px; }
.suffix_10 { padding-right: 800px; }
.suffix_11 { padding-right: 880px; }

/* `Push
------------------------------------*/
.push_1  { left: 80px;  }
.push_2  { left: 160px; }
.push_3  { left: 240px; }
.push_4  { left: 320px; }
.push_5  { left: 400px; }
.push_6  { left: 480px; }
.push_7  { left: 560px; }
.push_8  { left: 640px; }
.push_9  { left: 720px; }
.push_10 { left: 800px; }
.push_11 { left: 880px; }

/* `Pull
------------------------------------*/
.pull_1  { left: -80px;  }
.pull_2  { left: -160px; }
.pull_3  { left: -240px; }
.pull_4  { left: -320px; }
.pull_5  { left: -400px; }
.pull_6  { left: -480px; }
.pull_7  { left: -560px; }
.pull_8  { left: -640px; }
.pull_9  { left: -720px; }
.pull_10 { left: -800px; }
.pull_11 { left: -880px; }

/* `Clear
------------------------------------*/
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.alpha { margin-left: 0;  }
.omega { margin-right: 0; }


.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container {
  zoom: 1;
}