/*
1284px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
    min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container
{
    margin-left: auto;
    margin-right: auto;
    width: 1284px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
    position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.grid_1 {width: 87px;}
.grid_2 {width: 194px;}
.grid_3 {width: 301px;}
.grid_4 {width: 408px;}
.grid_5 {width: 515px;}
.grid_6 {width: 622px;}
.grid_7 {width: 729px;}
.grid_8 {width: 836px;}
.grid_9 {width: 943px;}
.grid_10 {width: 1050px;}
.grid_11 {width: 1157px;}
.grid_12 {width: 1264px;}


/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.prefix_1 {padding-left: 107px;}
.prefix_2 {padding-left: 214px;}
.prefix_3 {padding-left: 321px;}
.prefix_4 {padding-left: 428px;}
.prefix_5 {padding-left: 535px;}
.prefix_6 {padding-left: 642px;}
.prefix_7 {padding-left: 749px;}
.prefix_8 {padding-left: 856px;}
.prefix_9 {padding-left: 963px;}
.prefix_10 {padding-left: 1070px;}
.prefix_11 {padding-left: 1177px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.suffix_1 {padding-right: 107px;}
.suffix_2 {padding-right: 214px;}
.suffix_3 {padding-right: 321px;}
.suffix_4 {padding-right: 428px;}
.suffix_5 {padding-right: 535px;}
.suffix_6 {padding-right: 642px;}
.suffix_7 {padding-right: 749px;}
.suffix_8 {padding-right: 856px;}
.suffix_9 {padding-right: 963px;}
.suffix_10 {padding-right: 1070px;}
.suffix_11 {padding-right: 1177px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.push_1 {left: 107px;}
.push_2 {left: 214px;}
.push_3 {left: 321px;}
.push_4 {left: 428px;}
.push_5 {left: 535px;}
.push_6 {left: 642px;}
.push_7 {left: 749px;}
.push_8 {left: 856px;}
.push_9 {left: 963px;}
.push_10 {left: 1070px;}
.push_11 {left: 1177px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.pull_1 {left: -107px;}
.pull_2 {left: -214px;}
.pull_3 {left: -321px;}
.pull_4 {left: -428px;}
.pull_5 {left: -535px;}
.pull_6 {left: -642px;}
.pull_7 {left: -749px;}
.pull_8 {left: -856px;}
.pull_9 {left: -963px;}
.pull_10 {left: -1070px;}
.pull_11 {left: -1177px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container {
  zoom: 1;
}