{% extends 'layout.html' %}

{% block page_title %}
Album detail
{% endblock %}


{% block section %}

<article ><p><a href="{{base_url()}}">Home</a> >> {{(posts.0.post_title)}}</p></article>
{% for post in posts %}
<article class="parent"><h1>{{post.post_title}}</h1>

    <img src="{{ base_url() }}public/user/images/{{post.post_meta.primary_image.file_name}}" class="image-primary"> 



    <figure>
        {% for image in post.images %}
        <div class="thumb_parent">
            <a class="group1" href="{{ base_url()}}public/user/images/{{image.data.file_name}}" title="{{image.description}}"><img src="{{ base_url()}}public/user/images/{{image.data.raw_name}}_thumb{{image.data.file_ext}}" class="image-wrapper"></a>
        </div>
        {% endfor %}


    </figure>

    {% if post.post_content != "" %}
    <div class="caption"><p>{{post.post_content | raw }}</p></div>  
    {% endif %}




</article>


{% endfor %}
<div class="clear"></div>



{% if childpost %}
<article ><h2>Other</h2></article>
{% for post in childpost %}
<article>
    <div class="caption">
        <h2>{{post.post_title}}</h2>
        <p>{{post.post_content | raw }}</p>
    </div>
    <figure>
        {% for image in post.images %}
        <a class="group1" href="{{ base_url()}}public/user/images/{{image.data.file_name}}" title="{{image.description}}"><img data-thumb_name="{{image.data.raw_name}}_thumb{{image.data.file_ext}}" class="image-wrapper lazyload_img"></a>
        {% endfor %}
    </figure>
</article>
{% endfor %}
{% endif %}


<article ><p><a href="{{base_url()}}"> << Back To Albums</a></p></article>

{% endblock %}
