
    <div id="myCarousel" class="carousel">
        <h2>Recent Work</h2>
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for carousel in carousels %}
            <div class="item"><img src="{{ base_url() }}public/user/images/{{carousel.data.file_name}}" /></div>
            {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
