{% extends 'layout.html' %}

{% block page_title %}
contact_us
{% endblock %}



{% block section %}
<article class="contact-us">    
        <div class="caption">
        <p>Twitter :<b> <a href ="http://twitter.com/dreamy_tw">Dreamy_tw</a></b></p>
        <p>Facebook : <b> <a href ="http://facebook.com/dreamy.yogyakarta">Dreamy.yogyakarta</a></b></p>        
        <p>Phone : <b>085326347976</b></p>
        <p>email : <b>kontak.dreamy@gmail.com</b></p>
        </div>
</article>
{% endblock %}
