{% extends 'layout.html' %}

{% block page_title %}
Dreamy Photography
{% endblock %}

{% block section %}
<article><h1>ALBUMS</h1></article>

{% for post in posts %}
<article>
    <div class="caption">
        <h2>{{post.post_title}}</h2>
        <div><a href="{{ base_url() }}albums/{{post.id}}/{{url_title(post.post_title)}}">See More..</a></div>
    </div>
    <figure>
        {% for image in post.images %}
        <a class="group1" href="{{ base_url()}}public/user/images/{{image.data.file_name}}" title="{{image.description}}"><img data-thumb_name="{{image.data.raw_name}}_thumb{{image.data.file_ext}}" class="image-wrapper lazyload_img"></a>
        {% endfor %}
    </figure>
</article>
{% endfor %}

{% endblock %}