<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- Use the .htaccess and remove these lines to avoid edge case issues.
             More info: h5bp.com/b/378 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
        <link rel="stylesheet" href="{{base_url()}}public/less/colorbox3/colorbox.css" />
        <link rel="stylesheet" href="{{base_url()}}public/less/wysiwyg/jquery.wysiwyg.css" />

        <!-- LESS converted to css and minified via build script -->
        <link rel="stylesheet/less" href="{{ base_url() }}public/less/style.less">


        <!-- end LESS -->

        <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

        <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
             Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
             for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->



        <title>{% block page_title %} {% endblock %}</title>
    </head>

    <body class="container">



        <header>
            <nav>

                <ul>
                    <li class="logo">Dreamy</li>
                    <li class="home">
                        <a href="{{base_url()}}">Home</a>
                    </li>
                    <li class="contact">
                        <a href="{{base_url()}}contact_us/">Contact Us</a>
                    </li>

                </ul>

            </nav>

            <div class="slider">
                <div class="slide"><img src="{{base_url()}}public/user/images/slider.jpg" /></div>
                <div class="slide"><img src="{{base_url()}}public/user/images/slider2.jpg" /></div>
                <div class="slide"><img src="{{base_url()}}public/user/images/slider3.jpg" /></div>
                <div class="slide"><img src="{{base_url()}}public/user/images/slider4.jpg" /></div>
            </div>


        </header>

        <section>   


            {% block section %}  {% endblock %} 



        </section>
        <footer>

            <ul>
                <li>
                    <a href="{{base_url()}}contact_us">Contact Us</a>

                </li>
                <li>

                    <a href="{{base_url()}}contact_us">Olivopablo</a>
                </li>
            </ul>
            <p><small>Copyright © 2012 olivopablo. All rights reserved.</small></p>

        </footer>


        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->


        <script src="{{base_url()}}public/js/libs/jquery-1.7.2.min.js"></script>
            {{ getjs('jquery.revolver.js', 'libs/less-1.3.0.js','libs/modernizr-2.5.3.js') | raw }}
        <script src="{{base_url()}}public/js/jquery.masonry.min.js"></script>
        <script src="{{base_url()}}public/js/jquery.colorbox.js"></script>

        <!-- scripts concatenated and minified via build script -->
        <script defer src="{{base_url()}}public/js/plugins.js"></script>
        <script defer src="{{base_url()}}public/js/script.js"></script>

        <!-- end scripts -->


        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
             mathiasbynens.be/notes/async-analytics-snippet 
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->

        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7 ]>
          <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
          <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->

    </body>
</html>
