{% extends 'views/layout.html' %}

{% block page_title %}
iphotography / home
{% endblock %}



{% block section %}

<article>
    <h2>JAVASCRIPT HERE</h2>
</article>

{% for post in posts %}
<article>
    <div class="image-wrapper"><img src="{{ base_url() }}public/img/test1.jpg" class="image-wrapper"></div>

    <div class="caption">
        <h2><a href="{{ base_url() }}posts/detail/{{post.id}}">{{post.post_title}}</a></h2>
        <p>{{post.post_content}}</p>
        <p>{{post.post_type}}</p>
        {% for image in post.images %}
        <p class="thumb">{{post.images.0.meta}}</p>
        {% endfor %}
    </div>

</article>
{% endfor %}
{% endblock %}