<form action="{{base_url()}}ajax/admin/" class="form-stacked large ajax-form" method="POST">	
    <fieldset>
        <label>Name</label>
        <input type='text'  name="name" value="{{category.name}}" />
        <label> Content	</label>
        <textarea name="description">{{category.description}}</textarea>
        <label>Type</label>
        <div class="lazyload" data-load="form-dropdown-category" data-default={{category.type}}></div>
        <input type="hidden" name="action" value="category" />
        {% if category.id %}<input type="hidden" name="id" value="{{category.id}}" /> {% endif %} 
        <input type="submit" name="submit" value="submit" />
    </fieldset>	
</form>
