{% for image in images %}
<article class="pics-collate">
    <figure> <a class="group1" href="{{ base_url()}}public/user/images/{{image.data.file_name}}" title="{{image.description}}"><img data-thumb_name ="{{image.data.raw_name}}_thumb{{image.data.file_ext}}" class="lazyload_img" src="{{ base_url()}}public/user/images/{{image.data.file_name}}"></a></figure>
    <div class="caption">
        <h2><a href="{{ base_url() }}images/full/{{image.id}}">{{image.label}}</a></h2>
        <p>{{word_limiter(image.description,15)  | raw}}</p>
        {% for post in image.posts %}
        <p>Post : <a href="{{ base_url() }}admin/update/{{post.id}}">{{post.post_title}}</a></p>
        <p>Post_type : {{post.post_type}}</p>
        {%endfor%}
        <div class="action">
            <ul>
                {% if posts.0.id %} 
                <li><a href="{{base_url()}}admin/images/?action=delete_from_post&image_id={{image.id}}&post_id={{posts.0.id}}&source_url={{urlencode(current_url())}}">Hapus dari Album</a></li>
                <li><a href="{{base_url()}}admin/images/?action=set_primary&image_id={{image.id}}&post_id={{posts.0.id}}&source_url={{urlencode(current_url())}}">Set Primary</a></li>
                {% endif  %} 

                {% if product.id %} 
                <li><a href="{{base_url()}}admin/images/?action=delete_from_product&image_id={{image.id}}&product_id={{product.id}}&source_url={{urlencode(current_url())}}">Hapus dari Album</a></li>
                <li><a href="{{base_url()}}admin/images/?action=set_primary&image_id={{image.id}}&product_id={{product.id}}&source_url={{urlencode(current_url())}}">Set Primary</a></li>
                {% endif  %} 

                <li><a href="{{base_url()}}admin/images/?action=delete_permanent&image_id={{image.id}}&source_url={{urlencode(current_url())}}">Hapus Permanent</a></li>
                <li><a href="{{base_url()}}ajax/admin/?action=edit_pic&image_id={{image.id}}&source_url={{urlencode(current_url())}}" class="popup">Edit</a></li>
            </ul>
        </div>
    </div>

</article>
{% if flash %}{{flash | raw}}{% endif %}
{% endfor %}