<article>
    {% for image in images %}
    <figure class="grid_3 omega" > 
        <img src="{{ base_url()}}public/user/images/{{image.data.file_name}}" class="grid_3 alpha pics_add" data-id="{{id}}" data-image_id="{{image.id}}" data-type ="{{type}}" data-action="save_add_from_gallery">
        <p>{{image.label}}</p>
    </figure>
    {% endfor %}
</article>

