{% extends 'admin/layout.html' %}

{% block page_title %}
ADMIN / update category
{% endblock %}


{% block section %}

<div id="form_notification"></div>
<article class="form-post">
    <h2>Form Category</h2>   
    {% include 'admin/_form_category.html' %}
</article>

<div class="clear"></div>

{{getjs('script.js','jquery.colorbox.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}