{% extends 'admin/layout.html' %}

{% block page_title %}
Admin Index
{% endblock %}

{% block section %}

<article id="category-list">
    <h2>Category List</h2>
    {% for category in categories %}
    <div class="clearfix list">
        <h2><a href="{{base_url()}}{{category.type}}/detail/{{category.id}}">{{category.name}}</a></h2>

        <div class="caption">
            <p>{{ word_limiter(category.description,15)}}</p>
            <p>category_type: {{category.type}}</p>
        </div>
        <div class="action">
            <ul>
                <li><a href="{{base_url()}}admin/common/category/update/{{category.id}}">Update</a></li>
                <li><a href="{{base_url()}}admin/common/category/delete/{{category.id}}">Delete</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</article>

<article class="grid_3">
    <h2>Add Category</h2>
    {% include 'admin/_form_category.html' %}
</article>
{% endblock %}


