{% set image = images.0 %} 

<form action="{{base_url()}}ajax/admin/" class="form-stacked large " id="ajax-form" method="POST" enctype="multipart/form-data" >
    <fieldset>
        <label>Label</label>
        <input type='text' name="label" value="{{image.label}}" />
        <label>Description</label>
        <input type='text' name="description" value="{{image.description}}" />
        <input type="hidden" name="action" value="save_edit_pic" />
        {% if image.id %}<input type="hidden" name="image_id" value="{{image.id}}" /> {% endif %} 
        <input type="submit" value="submit" />
    </fieldset>	
</form>

