{% set post = posts.0 %}
{% set parentpost = parentpost.0 %}
<form action="{{base_url()}}ajax/admin/" class="form-stacked large ajax-form" method="POST">	
    <fieldset>
        <label>Title</label>
        <input type='text'  name="post_title" value="{{post.post_title}}" />

        <label> Content	</label>
        <textarea name="post_content" id="wysiwyg">{{post.post_content}}</textarea>


        <label>Post Type</label>
        <div class="lazyload" data-load="form-dropdown" data-default={{post.post_type}}></div>


        <label>Current Project</label>
        <input type='checkbox' name="currentproject" value="checked" {{post.post_meta.currentproject}}/>

        <label>Publish</label>
        <input type='checkbox' name="publish" value="checked" {{post.publish}}/>

        <input type="hidden" name="action" value="post" />

        {% if post.id %}<input type="hidden" name="id" value="{{post.id}}" /> {% endif %} 
        {% if parentpost.id %}<input type="hidden" name="parentpost_id" value="{{parentpost.id}}" /> {% endif %} 

        <input type="submit" name="submit" value="submit" />
    </fieldset>	
</form>
