<form action="{{base_url()}}ajax/admin/" class="form-stacked large ajax-form" method="POST" enctype="multipart/form-data" >
    <fieldset>
        <label>Upload</label>
        <input type='file'  name="images" />

        <label>Label</label>
        <input type='text' name="label" value="{{image.label}}" />

        <label>Description</label>
        <input type='text' name="description" value="{{image.description}}" />

        <label>*optional </label>
        <label>Width</label>
        <input type='text' name="images_width" value="" />

        <label>height</label>
        <input type='text' name="images_height" value="" />

        <input type="hidden" name="action" value="upload_images" />

        {% if posts.0.id %}<input type="hidden" name="post_id" value="{{posts.0.id}}" /> {% endif %} 
        {% if product.id %}<input type="hidden" name="product_id" value="{{product.id }}" /> {% endif %} 
        
        <input type="submit" name="upload" value="submit" />
    </fieldset>	

</form>
