<form action="{{base_url()}}ajax/admin/schedule/save" class="form-stacked large ajax-form" method="POST">	
    <fieldset>
        <label>name</label>
        <input type='text'  name="name" value="{{schedule.name}}" />

        <label>description</label>
        <textarea name="description" id="wysiwyg">{{schedule.description}}</textarea>




        <label>Date Happened</label>
        <input type="checkbox" name="date_happen[confirm]"  value="true" {{schedule.date_happen.checkbox}} />
        <select name="date_happen[day]">
            {{date_options(schedule.date_happen.day)| raw}}
        </select> 
        <select name="date_happen[month]">
            {{month_options(schedule.date_happen.month)| raw}}
        </select> 
        <select name="date_happen[year]">
            {{year_options(scheduls.date_happen.year)| raw}}
        </select>

        jam :
        <select name="date_happen[hour]">
            {{hour_options(schedule.date_happen.hour)| raw}}
        </select>
        menit :
        <select name="date_happen[minute]">
            {{minute_options(schedule.date_happen.min)| raw}}
        </select>



        <label>Date Due</label>
        <input type="checkbox" name="date_due[confirm]"  value="true" {{ schedule.date_due.checkbox}} />
               <select name="date_due[day]">
            {{date_options(schedule.date_due.day)| raw}}
        </select> 
        <select name="date_due[month]">
            {{month_options(schedule.date_due.month)| raw}}
        </select> 
        <select name="date_due[year]">
            {{year_options(schedule.date_due.year)| raw}}
        </select>

        jam :
        <select name="date_due[hour]">
            {{hour_options(schedule.date_due.hour)| raw}}
        </select>
        menit :
        <select name="date_due[minute]">
            {{minute_options(schedule.date_due.min)| raw}}
        </select>

        {% if post.id %}<input type="hidden" name="id" value="{{schedule.id}}" /> {% endif %} 

        <input type="submit" name="submit" value="submit" />
    </fieldset>	
</form>
