<form action="{{base_url()}}ajax/admin/" class="form-stacked large ajax-form" method="POST">
    <fieldset>
        <label>Nama Produk</label>
        <input type='text' name="name" value="{{product.name}}" />

        <label>Price</label>
        <input type='text' name="price" value="{{product.price}}" />

        <label>Tag</label>
        <input type='text' name="tag" value="{{product.tag}}" />

        <label>Publish</label>
        <input type='checkbox' name="publish" value="1"/>

        <label>Description</label>
        <textarea name="description" id="wysiwyg">{{product.description}}</textarea>


        {% if product.id %}<input type="hidden" name="product_id" value="{{product.id}}" /> {% endif %} 
        <input type="hidden" name="action" value="product" />
        <input type="submit" name="upload" value="submit" />
    </fieldset>	

</form>
