{% extends 'admin/layout.html' %}

{% block page_title %}
Gallery Admin
{% endblock %}

{% block section %}

<div class="clear"></div>
<h2>Gallery</h2>

<article class="form">
    <h2>Upload Images</h2>   
    {% include 'admin/form_upload.html' %}
</article>

<div id="pics-list">
{% include 'admin/_pics_collate.html' %}
</div>


{{getjs('jquery.colorbox.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}