<form action="{{current_url()}}" class="form-stacked large" id="ajax-form" method="POST">	
    <fieldset>
        <label>Url</label>
        <input type='text'  name="url" value="" />
        <input type="submit" name="submit" value="submit" />
    </fieldset>	
</form>
