{% extends 'admin/layout.html' %}

{% block page_title %}
Hire Admin
{% endblock %}



{% block section %}

<div class="clear"></div>
<h2>Hire</h2>

<article id="hire-list">
    <h2>Hire List</h2>
    <div class="grid_3 omega">
        {% for hire in hires %}
        <div class="clearfix list">
            <div class="caption">   
                <h3>Nama : {{hire.name}}</h3>
                <p>email : {{hire.email}}</p>
                <p>{{ hire.job_description}}</p>
                <small>{{mysqldatetime_to_date(hire.datetime)}}</small>
            </div>
            <div class="action">
                <ul>
                    <li><a href="{{base_url()}}admin/hire/delete/{{hire.id}}">Delete</a></li>
                </ul>
            </div>
        </div>
        {% endfor %}   
    </div>
</article>

{% endblock %}

{% set asideDefault=0 %}