{% extends 'views/admin/layout.html' %}

{% block page_title %}
iphotography / home
{% endblock %}



{% block section %}

<article>
    <h2>ADMIN PAGE</h2>
</article>

<h2>Portfolio </h2>
{% for post in posts %}
<article class="admin">
    
    <div class="image-wrapper"><img src="{{ base_url() }}public/img/test1.jpg" class="image-wrapper"></div>

    <div class="caption">
        <h2><a href="{{ base_url() }}posts/detail/{{post.id}}">{{post.post_title}}</a></h2>
        <p>{{ word_limiter(post.post_content,15)}}</p>
        <p>{{post.post_type}}</p>
         <p><a href="{{base_url()}}admin/update/{{ post.id }}">Update</a> <a href="{{base_url()}}admin/delete/{{post.id }}">Delete</a></p>
    </div>

</article>
{% endfor %}
{% endblock %}

{% block aside %}
<ul>
    <li><a href="{{base_url()}}admin/upload/">Upload</a></li>
</ul>
{% endblock %}

