{% extends 'admin/layout.html' %}

{% block page_title %}
Admin Index
{% endblock %}

{% block section %}

<article id="post-list">
    <h2>Post List</h2>
    {% for post in posts %}
    <div class="clearfix list">
        <h2><a href="{{base_url()}}{{post.post_type}}/detail/{{post.id}}">{{post.post_title}}</a></h2>

        <div class="caption">
            <small>{{mysql_span(post.post_date)}} ago | {{mysqldatetime_to_date(post.post_date)}} </small>
            <p>{{ word_limiter(post.post_content,15)}}</p>
            <p>Post_type: {{post.post_type}}</p>
        </div>
        <div class="action">
            <ul>
                <li><a href="{{base_url()}}admin/childpost/add/{{post.id}}">Add Childpost</a></li>
                <li><a href="{{base_url()}}admin/post/update/{{post.id}}">Update</a></li>
                <li><a href="{{base_url()}}admin/post/delete/{{post.id}}">Delete</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</article>

<article class="grid_3">
    <h2>Add Posts</h2>
    {% set posts=ajax %}
    {% include 'admin/form_post.html' %}
    <h2>Others</h2>
    <ul><li>
            <a href="admin/input">Tambah Post</a>
        </li></ul>
</article>
{% endblock %}


