<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

        <link rel="stylesheet" href="{{base_url()}}public/less/colorbox3/colorbox.css" />
        <link rel="stylesheet" href="{{base_url()}}public/less/wysiwyg/jquery.wysiwyg.css" />

        <!-- LESS converted to css and minified via build script -->
        <link rel="stylesheet/less" href="{{ base_url() }}public/less/admin.less">
 
        <script src="{{ base_url() }}public/js/libs/less-1.3.0.js"></script>
        <!-- end LESS -->

        <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

        <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
             Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
             for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
        <script src="{{ base_url() }}public/js/libs/modernizr-2.5.3.js"></script>

                    {{getjs('/libs/jquery-1.7.2.min.js') | raw}}


        <title>{% block page_title %} {% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <header> 
                {% block header %} {% include 'admin/nav.html' %}  {% endblock %} 
            </header>

            <section>   
                {% block section %}  {% endblock %} 
            </section>


            <aside>

                {%if asideDefault==1  %}
                <h2>about me</h2>

                <article>
                    <figure><img src="{{ base_url() }}public/img/me.jpg" class="image-wrapper"></figure>
                    <div class="caption">
                        <h3>hello!</h3>
                        <p>i’m olivo pablo, web developer and web designer. 23 years old and lived in yogyakarta indonesia</p>
                    </div>
                </article>

                <h2>my skill</h2>
                <article class="aside">
                    <div class="caption">
                        <p>photoshop</p>
                        <p>php,codeigniter,OOP</p>
                        <p>mysql,PDO, Active Record</p>
                    </div>
                </article>    

                <h2>contact me</h2>
                <article class="aside">
                    <div class="caption">
                        <div class="contact-icon">
                            <a href="http://twitter.com/olivopablo"><img src="{{base_url()}}/public/img/twitter.png"></a>
                            <a href="http://facebook.com/olivo.pablo"><img src="{{base_url()}}/public/img/facebook.png"></a>
                            <a href="http://bitbucket.org/olivopablo"><img src="{{base_url()}}/public/img/bitbucket.png"></a>
                        </div>
                    </div>
                </article>    

                {%endif%}
                
            {% block aside %}  {% endblock %} 
            </aside>

            <div class="clear"></div>

            <section class="blog">   

                {% block blog %}  {% endblock %} 

            </section>

            <footer>
                copyright.2012.olivopablo
            </footer>


            <!-- JavaScript at the bottom for fast page loading -->

            <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->

            <script>window.jQuery || document.write('<script src="{{ base_url() }}public/js/libs/jquery-1.7.2.min.js"><\/script>')</script>


            <!-- scripts concatenated and minified via build script -->
            <script src="{{ base_url() }}public/js/admin/jquery.jcryption.min.js"></script>
            <script src="{{ base_url() }}public/js/admin/jquery.form.js"></script>
            
            <script defer src="{{ base_url() }}public/js/jquery.wysiwyg.js"></script>
            <script defer src="{{ base_url() }}public/js/admin/jqhandler.js"></script>
            
            <script defer src="{{ base_url() }}public/js/plugins.js"></script>

            <!-- end scripts -->


            <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
                 mathiasbynens.be/notes/async-analytics-snippet 
            <script>
              var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
              (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
              g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
              s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
            -->

            <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
                 chromium.org/developers/how-tos/chrome-frame-getting-started -->
            <!--[if lt IE 7 ]>
              <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
              <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
            <![endif]-->
        </div>
    </body>
</html>
