{% extends 'admin/layout.html' %}

{% block page_title %}
Portfolio Login
{% endblock %}

{% block section %}

<article class="login">
    <h2>Login</h2>
    <form action="{{base_url()}}auth/login/" class="form-stacked large" method="POST">	
        <fieldset>
            <label>Username</label>
            <input type='text' name="identity" />

            <label>Password</label>
            <input type='password' name="password"  />

            <label for="remember">Remember Me:</label>
            {{form_checkbox('remember', '1', FALSE, 'id="remember"') | raw}}

            <input type="hidden" name="login_token" value="{{login_token}}" />

            <input type="submit" name="submit" value="submit" />
        </fieldset>	

    </form>
    {%for key, value in flash %}
    <h3> {{key}} : {{value}}}</h3>
    {%endfor%}
</article>


{% endblock %}