
<nav>
    <ul>
        <li><a href="{{base_url()}}admin/">Posts</a></li>
        <li><a href="{{base_url()}}admin/albums">Albums</a></li>
        <li><a href="{{base_url()}}admin/gallery">Gallery</a></li>
        <li><a href="{{base_url()}}admin/upload/">Upload</a></li>
        <li><a href="{{base_url()}}admin/product/">Product</a></li>
        <li><a href="{{base_url()}}admin/hire/">Hire</a></li>
        <li><a href="{{base_url()}}admin/schedule/">Schedule</a></li>
        <li><a href="{{base_url()}}admin/common/category/">Category</a></li>
    </ul>
</nav>