{% extends 'admin/layout.html' %}

{% block page_title %}
iphotography / home
{% endblock %}


{% block header %}
<nav>
    <ul>
        <li><a href="{{base_url()}}admin/">Posts</a></li>
        <li><a href="{{base_url()}}admin/gallery/">Gallery</a></li>
        <li><a href="{{base_url()}}admin/upload/">Upload</a></li>
    </ul>
</nav>
{% endblock %}

{% block section %}

<article>
    <h2>Phpinfo</h2> 
    
    {{posts | raw}}
</article>

{% endblock %}


