{% extends 'admin/layout.html' %}

{% block page_title %}
ADMIN / update posts
{% endblock %}


{% block section %}

{% if parentpost %}
<article id="postlist">
    <h2>Parentpost</h2>
    {% for post in parentpost %}
    <div class="clearfix list">
        <h2><a href="{{base_url()}}{{post.post_type}}/detail/{{post.id}}">{{post.post_title}}</a></h2>
        <div class="caption">
            <small>{{mysql_span(post.post_date)}} ago | {{mysqldatetime_to_date(post.post_date)}} </small>
            <p>{{ word_limiter(post.post_content,15)}}</p>
        </div>
        <div class="action">
            <ul>
                <li><a href="{{base_url()}}admin/childpost/add/{{post.id}}">Add Childpost</a></li>
                <li><a href="{{base_url()}}admin/post/update/{{post.id}}">Update</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</article>
{% endif %}

<div class="clear"></div>
<div id="form_notification"></div>
<article class="form-post">
    <h2>Update Post</h2>   
    {% include 'admin/form_post.html' %}
</article>

<article class="form">
    <h2>Upload Images</h2>   
    {% include 'admin/form_upload.html' %}
</article>

<article class="form">
    <h2>Primary Images</h2>    
    {% for post in posts %}       
    <figure><img src="{{ base_url()}}public/user/images/{{post.post_meta.primary_image.file_name}}"></figure>
    {% endfor %}
</article>

<div class="clear"></div>

{% if childpost %}
<article id="post-list">
    <h2>ChildPost List</h2>
    {% for post in childpost %}
    <div class="clearfix list">
        <h2><a href="{{base_url()}}{{post.post_type}}/detail/{{post.id}}">{{post.post_title}}</a></h2>
        <div class="caption">
            <small>{{mysql_span(post.post_date)}} ago | {{mysqldatetime_to_date(post.post_date)}} </small>
            <p>{{ word_limiter(post.post_content,15)}}</p>
        </div>
        <div class="action">
            <ul>
                <li><a href="{{base_url()}}admin/childpost/update/{{post.id}}">Update</a></li>
                <li><a href="{{base_url()}}admin/childpost/delete/{{post.id}}?source_url={{urlencode(current_url())}}">Delete</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</article>
{% endif %}

<div class="clear"></div>

<h2>Post Images</h2>
<div class="action">
    <ul>
        <li>
            <a class="popup" href="{{base_url()}}ajax/admin/?action=add_from_gallery&id={{posts.0.id}}&type=Post">Add Pics from Gallery</a>
        </li>
        <li>
            <a class="small_thumb">Small Thumb</a>
        </li>
        <li>
            <a class="normal_thumb">Normal Thumb</a>
        </li>
        <li>
            <a class="big_thumb">Big Thumb</a>
        </li>
    </ul>
</div>
<div class="clear"></div>
<div id="pics-list">
    {% set images = posts.0.images %}
    {% include 'admin/_pics_collate.html' %}
</div>


{{getjs('script.js','jquery.colorbox.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}