{% extends 'admin/layout.html' %}

{% block page_title %}
ADMIN / update posts
{% endblock %}

{% block header %}
<nav>
    <ul>
        <li><a href="{{base_url()}}admin/">Posts</a></li>
        <li><a href="{{base_url()}}admin/gallery">Gallery</a></li>
        <li><a href="{{base_url()}}admin/upload/">Upload</a></li>
        <li><a href="{{base_url()}}admin/product/">Product</a></li>
    </ul>
</nav>
{% endblock %}

{% block section %}
<div id="form_notification"></div>
<article class="form-post">
    <h2>Update Product</h2>   
    {% include 'admin/form_product.html' %}
</article>

<article class="form">
    <h2>Upload Images</h2>   
    {% include 'admin/form_upload.html' %}
</article>

<article class="form">
    <h2>Primary Images</h2>    
    <figure><img src="{{ base_url()}}public/user/images/{{product.primary_image.file_name}}"></figure>
</article>

<div class="clear"></div>
<h2>Product Images</h2>
<div class="action"><ul><li><a class="popup" href="{{ base_url()}}ajax/admin/?action=add_from_gallery&id={{product.id}}&type=Product">Add Pics from Gallery</a></li></ul></div>
<div class="clear"></div>
<div id="pics-list">
    {% include 'admin/_pics_collate.html' %}
</div>


{{getjs('jquery.colorbox.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}