{% extends 'admin/layout.html' %}

{% block page_title %}
Product Admin
{% endblock %}


{% block section %}

<div class="clear"></div>
<h2>Product</h2>

<article id="product-list">
    <h2>Product List</h2>
    {% for product in products %}
    <div class="clearfix list">
        <figure class="primary_thumb"><img src="{{base_url()}}public/user/images/{{product.primary_image.file_name}}"></figure>

        <h2><a href="{{base_url()}}{{product}}/detail/{{product.id}}">{{product.name}}</a></h2>

        <div class="caption">   
            <p>{{ word_limiter(product.description,15)}}</p>
            <small>{{mysqldatetime_to_date(product.datetime)}} </small>
        </div>
        <div class="action">
            <ul>
                <li><a href="{{base_url()}}admin/product/update/{{product.id}}">Update</a></li>
                <li><a href="{{base_url()}}admin/product/delete/{{product.id}}">Delete</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</article>


<article class="grid_3">
    <h2>New Product</h2>   
    {% include 'admin/form_product.html' %}
</article>


{{getjs('jquery.colorbox.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}