{% extends 'admin/layout.html' %}

{% block page_title %}
Schedule Admin
{% endblock %}


{% block section %}

<div class="clear"></div>
<h2>Schedule</h2>
<form action="{{current_url()}}" method="POST">	
    <fieldset>
        <label>Select Date</label>
        <select name="date_month">
            {{month_options(schedule.date_due.month)| raw}}
        </select> 
    </fieldset>	
</form>
<article id="product-list">
    <h2>Schedule List</h2>

    <!--
        <div class="grid_4 omega">
            {% for schedule in schedules %}
            <div class="clearfix list">
                <div class="caption">   
                    <h3><a data-id="{{schedule.id}}" class="title_btn">{{mysqldatetime_to_date(schedule.date_happen)}}</a></h3>
                    {% if schedule.date_due %}
                    <br /> <small> Due : {{mysqldatetime_to_date(schedule.date_due)}}</small>
                    {%endif %}
                </div>
                <div class="caption">   
                    <p><b>{{schedule.name}}</b></p>
                    <p>{{schedule.description}}</p>
                </div>
                <div class="action">
                    <ul>
                        <li><a href="{{base_url()}}admin/schedule/update/{{schedule.id}}">Update</a></li>
                        <li><a href="{{base_url()}}admin/schedule/delete/{{schedule.id}}">Delete</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    -->
    <div class="grid_4 omega">
        <!-- ko foreach : left_content -->
        <div class="clearfix list">
            <div class="caption">   
                <h3><span data-bind="text : date_happen"></span></h3>
                <br />Due : <small  data-bind="text : date_due"></small>
            </div>
            <div class="caption">   
                <p><b data-bind="text : name"></b></p>
                <p data-bind="text : description">/p>
            </div>
            <div class="action">
                <ul>
                    <li><a data-bind="click : updateList">Update</a></li>
                    <li><a data-bind="click : deleteList">Delete</a></li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="grid_4 omega">
        {% include 'ko/_ko_template.html'%}
        <!-- ko template:{name : 'formSchedule', foreach : right_content } -->

        <!-- /ko -->
    </div>

</article>


<article class="grid_3">
    <h2><a data-bind="click : addNew">New schedule</a></h2>   
        <!-- ko template:{name : 'formSchedule', foreach : aside } -->

        <!-- /ko -->
</article>

{{getjs('knockout-latest.debug.js','knockout.mapping-latest.debug.js','ko.schedule.js','datepicker.js')|raw}}

{% endblock %}

{% set asideDefault=0 %}

