<script id="personTemplate" type="text/html">  
    <ul class="person">  
        <li><h1><span data-bind="text : name"></span></h1></li>
    </ul>  
</script> 

<script id="formSchedule" type="text/html">  
    <form action="{{base_url()}}ajax/admin/schedule/save" class="form-stacked large ajax-form" method="POST">	
        <fieldset>
            <label>name</label>
            <input type='text'  name="name" data-bind="value : name" />

            <label>description</label>
            <textarea name="description" data-bind="value : description" ></textarea>
            
            

            <label>Date Happened</label>
            <input type="checkbox" name="date_happen[confirm]" data-bind="checked: date_happen_confirm"/>
            <select name="date_happen[day]">
                {{date_options(schedule.date_happen.day)| raw}}
            </select> 
            <select name="date_happen[month]">
                {{month_options(schedule.date_happen.month)| raw}}
            </select> 
            <select name="date_happen[year]">
                {{year_options(scheduls.date_happen.year)| raw}}
            </select>

            jam :
            <select name="date_happen[hour]">
                {{hour_options(schedule.date_happen.hour)| raw}}
            </select>
            menit :
            <select name="date_happen[minute]">
                {{minute_options(schedule.date_happen.min)| raw}}
            </select>



            <label>Date Due</label>
            <input type="checkbox" name="date_due[confirm]"  value="1" {{ schedule.date_due.checkbox}} />
                   <select name="date_due[day]">
                {{date_options(schedule.date_due.day)| raw}}
            </select> 
            <select name="date_due[month]">
                {{month_options(schedule.date_due.month)| raw}}
            </select> 
            <select name="date_due[year]">
                {{year_options(schedule.date_due.year)| raw}}
            </select>

            jam :
            <select name="date_due[hour]">
                {{hour_options(schedule.date_due.hour)| raw}}
            </select>
            menit :
            <select name="date_due[minute]">
                {{minute_options(schedule.date_due.min)| raw}}
            </select>

            <input type="submit" name="submit" value="submit" data-bind="click : saveList"/>
        </fieldset>	
    </form>
</script> 