<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
        <!-- LESS converted to css and minified via build script -->
        <!-- end LESS -->
        <link rel='stylesheet' href='{{base_url()}}public/less/colorbox.css' type='text/css'>
        <link rel="stylesheet/less" type="text/css"  href="{{ base_url() }}public/less/style.less">
        <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
        <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
             Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
             for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/
        <script src="{{ base_url() }}public/js/libs/modernizr-2.5.3.js"></script>
        -->
    </head>
    <body class="container">
        {{getjs('libs/jquery-1.7.2.min.js') | raw}}
        <header class="hire"> 
            <a href="{{base_url()}}hire/"><div class="hire_btn"></div></a>
        </header>

        <section>   
            <article>
                <h2>name <span data-bind="text: personName"></span> / age : <span data-bind="text: personAge"></span></h2>

                <p data-bind="foreach: people"><span data-bind="text : name"></span><button data-bind="click : deleteMe">Delete</button></p>
            </article>
            <ul data-bind="foreach: ['cats', 'dogs', 'fish']">
                <li>The value is <span data-bind="text: $data"></span></li>
            </ul>

            <div id="people" data-bind="template: { name: 'personTemplate', foreach: people }"></div>  
            <div id="people" data-bind="template: { name: 'personTemplate', foreach: peoplez }"></div>  

        </section>

        <div class="clear"></div>

        <section>   
            {% block blog %}  {% endblock %} 
        </section>

        <footer>
            copyright.2012.olivopablo
        </footer>


        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->

        <script>window.jQuery || document.write('<script src="{{ base_url() }}public/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

        <!-- scripts concatenated and minified via build script -->

        <script src="{{ base_url() }}public/js/libs/less-1.3.0.min.js" type="text/javascript"></script>
        <script defer src="{{ base_url() }}public/js/knockout-latest.debug.js"></script>
        <script defer src="{{ base_url() }}public/js/ko.js"></script>
        <!-- end scripts -->


        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
             mathiasbynens.be/notes/async-analytics-snippet 
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->

        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7 ]>
          <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
          <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->

    </body>
</html>

{% include 'views/ko/_ko_template.html' %}