{% extends 'views/admin/layout.html' %}

{% block page_title %}
ADMIN / Gallery
{% endblock %}

{% block header %}
<nav>
    <ul>
        <li><a href="{{base_url()}}admin/">Posts</a></li>
        <li><a href="{{base_url()}}admin/gallery">Gallery</a></li>
        <li><a href="{{base_url()}}admin/upload/">Upload</a></li>
        <li><a href="{{base_url()}}admin/product/">Product</a></li>
    </ul>
</nav>
{% endblock %}

{% block section %}



<div class="clear"></div>
<h2>Product</h2>

<article id="product-list">
    <h2>Product List</h2>
    <!-- ko foreach : products -->
    <div class="clearfix list" data-bind="attr: { id : id }">

        <h2><a  data-bind="text : name, attr : { href : base_url+ 'product/detail/'+ id}"></a></h2>

        <div class="caption">   
            <p data-bind="text : description"></p>
            <small data-bind="text : datetime"></small>
            <p>Publish : <small data-bind="text : publish"></small></p>
        </div>
        <div class="action">
            <ul>
                <li><a  data-bind="click : publishThis">PublishThis</a></li>
                <li><a  data-bind="click : getPics">Get Pics</a></li>
                <li><a  data-bind="click : update ">Update</a></li>
                <li><a data-bind="click : deleteList ">Delete</a></li>
            </ul>
        </div>
        <div class="clear"></div>


    </div>
    <!-- /ko -->
</article>


<article class="grid_3">
    <h2>New Product</h2>   
    {% include 'views/admin/form_product.html' %}
</article>


{{getjs('jquery.colorbox.js')|raw}}
{{getjs('knockout-latest.debug.js')|raw}}
{{getjs('knockout.mapping-latest.debug.js')|raw}}
{{getjs('ko.admin.js')|raw}}
{% endblock %}

{% set asideDefault=0 %}