<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
        <!-- LESS converted to css and minified via build script -->
        <!-- end LESS -->
        <link rel='stylesheet' href='{{base_url()}}public/less/colorbox.css' type='text/css'>
        <link rel="stylesheet/less" type="text/css"  href="{{ base_url() }}public/less/style.less">
        <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
        <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
             Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
             for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/
        <script src="{{ base_url() }}public/js/libs/modernizr-2.5.3.js"></script>
        -->
    </head>
    <body class="container">
        {{getjs('libs/jquery-1.7.2.min.js') | raw}}
        <header class="hire"> 
            <a href="{{base_url()}}hire/"><div class="hire_btn"></div></a>
        </header>




        <div id="todoapp">
            <section>
                <h1>Todos</h1>
                <input id="new-todo" type="text" data-bind="value: current, valueUpdate: 'afterkeydown', enterKey: add"
                       placeholder="What needs to be done?"/>
            </section>
            <section id="main" data-bind="block: todos().length">
                <input id="toggle-all" type="checkbox" data-bind="checked: allCompleted">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list" data-bind="foreach: todos">
                    <!-- item -->
                    <li data-bind="css: { done: done, editing: editing }">
                        <div class="view" data-bind="event: { dblclick: $root.editItem }">
                            <input class="toggle" type="checkbox" data-bind="checked: done">
                            <label data-bind="text: content"></label>
                            <a class="destroy" href="#" data-bind="click: $root.remove"></a>
                        </div>
                        <input class="edit" type="text"
                               data-bind="value: content, valueUpdate: 'afterkeydown', enterKey: $root.stopEditing, selectAndFocus: editing, event: { blur: $root.stopEditing }"/>
                    </li>
                </ul>
            </section>
        </div>


        <div class="clear"></div>

        <footer>
            copyright.2012.olivopablo
        </footer>


        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->

        <script>window.jQuery || document.write('<script src="{{ base_url() }}public/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

        <!-- scripts concatenated and minified via build script -->

        <script src="{{ base_url() }}public/js/libs/less-1.3.0.min.js" type="text/javascript"></script>
        <script defer src="{{ base_url() }}public/js/knockout-latest.debug.js"></script>
        <script defer src="{{ base_url() }}public/js/ko.todo.js"></script>
        <!-- end scripts -->


        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
             mathiasbynens.be/notes/async-analytics-snippet 
        <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->

        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7 ]>
          <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
          <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->

    </body>
</html>

{% include 'views/ko/_ko_template.html' %}