{% extends 'views/layout.html' %}

{% block page_title %}
Localisme > admin > input
{% endblock %}

{% block section %}

<div class="grid_6">
<form action="{{base_url()}}auth/login/" class="form-stacked large" method="POST">	
    <fieldset>
        <legend>Login</legend>

        <label>Username</label>
        <input type='text' name="username" />
        
        <label>Password</label>
        <input type='password' name="password"  />
          
        <input type="hidden" name="login_token" value="{{login_token}}" />

        <input type="submit" name="submit" value="submit" />
    </fieldset>	

</form>
    {%for key, value in flash %}
    <h3> {{key}} : {{value}}}</h3>
    {%endfor%}
</div>


{% endblock %}