

/* ==|== Import HTML5 ✰ Boilerplate LESS library =========================== */
@import 'libs/boilerplate.less';

/* Normalize */
#blr.normalize(#0abbcd, #555);

/* ==|== primary styles =====================================================
   Author:
  ========================================================================== */

/* ==|== media queries ====================================================== */





/* Screen width <= 320px */
@media only screen and (max-width: 320px) {
@import 'libs/960_12_mobile.less';
@import 'customs_admin.less';


body{ font-size:10px;}
nav{width:300px;  }
article {
width:300px;    
.image-wrapper{width:300px;}
.caption{width:300px;}


}
ul.filter{min-height:100px;width:280px; padding:0; li{margin-left:0px; }} 

article.feed{
    .caption{ h2,h3,p { line-height: 1;} }
  
} 
}

/* Screen width > 320px */
@media only screen and (min-width: 321px) and (max-width: 480px) {
@import 'libs/960_12_440.less';


@import 'customs_admin.less';

body{ font-size:12px;}
article {
.image-wrapper{.grid_12;}
.caption{.grid_12;}
}
article.feed{
    .caption{ h2,h3,p { line-height: 1;} .grid_6; }
  
} 
ul.filter{min-height:100px; padding:0; li{margin-left:0px; }} 
}

/* Screen width > 480px */
@media only screen and (min-width: 481px) and (max-width: 800px) {
@import 'libs/960_12_720.less';
@import 'customs_admin.less';


article.feed{
    .caption{ h2,h3,p { line-height: 1;} }
  
} 

}

/* Screen width > 768px */
@media only screen and (min-width: 801px) and (max-width: 1024px) {
@import 'libs/960_12_960.less';
@import 'customs_admin.less';
}

/* Screen width > 1024px */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
@import 'libs/960_12_1200.less';
@import 'customs_admin.less';
}

/* Screen width > 1280px */
@media only screen and (min-width: 1281px) {
@import 'libs/960_12_1280.less';
@import 'customs_admin.less';
}









/* ==|== endos ==============================================================
   Please define your styles before this section.
   ========================================================================== */
#blr.ns-helpers();
@media print { #blr.media-print(); }