

// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);





// Opacity
.opacity(@opacity) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}



// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

// Transformations
.rotate(@degrees) {
    -webkit-transform: rotate(@degrees);
    -moz-transform: rotate(@degrees);
    -ms-transform: rotate(@degrees);
    -o-transform: rotate(@degrees);
    transform: rotate(@degrees);
}
.scale(@ratio) {
    -webkit-transform: scale(@ratio);
    -moz-transform: scale(@ratio);
    -ms-transform: scale(@ratio);
    -o-transform: scale(@ratio);
    transform: scale(@ratio);
}
.translate(@x, @y) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}
.skew(@x, @y) {
    -webkit-transform: skew(@x, @y);
    -moz-transform: skew(@x, @y);
    -ms-transform: skew(@x, @y);
    -o-transform: skew(@x, @y);
    transform: skew(@x, @y);
}
.translate3d(@x, @y, @z) {
    -webkit-transform: translate(@x, @y, @z);
    -moz-transform: translate(@x, @y, @z);
    -ms-transform: translate(@x, @y, @z);
    -o-transform: translate(@x, @y, @z);
    transform: translate(@x, @y, @z);
}

body {
    background :url(../img/top-back.png) repeat-x, url(../img/section-text.jpg) repeat ;
    font-size : 14px;
    color:@textColor;
    font-family: 'arial';
}/*body*/

header{
    margin-top:40px;
    .grid_10; .push_1;
    height:486px;
	    background :url(../img/header-separator.jpg) bottom center no-repeat;
    h1{
    text-shadow: 0 0 3px #5FCBEC;
}

position : relative;
/*h1*/

.slider{
.grid_10; .alpha;
position : absolute;
height:466px;
overflow:hidden;
.slide{
position : absolute;
img{
.grid_10; .alpha;
height:466px;
}
}

}

nav{
        z-index : 9999;
    position : absolute;
    margin-top:140px;
    .grid_3; .alpha;
    background-color : rgba(255, 255, 255, 0.5);
    ul{



    li{
    margin:10px 0;
    padding:4px 5px 6px; 
    list-style:none;
    text-indent : -9999px; 
    
    &.logo {

    height:62px;
        background :url(../img/logo.png) no-repeat;
    }

    &.home {

   height:30px;
        background :url(../img/home.png) no-repeat center left;
    }

    &.contact {

    height:30px;
        background :url(../img/contact-us.png) no-repeat center left;
    }
    
    &.contact:hover,&.home:hover{

    background-color : rgba(208,208,208,0.5);
              border-radius: 2px;
}
    

    a {color: #4999C3;
    font-family: 'arial';
    font-weight: 700;
    font-size : 1.3em;
    text-decoration :none;
    padding:4px 5px 6px; 
}

a:hover { background-color: rgba(34,34,34,0.05);

          border-radius: 2px;
          color: #2A6D94;

}

a:visited{
    color: #4999C3;
}
a:active { background-color: rgba(34,34,34,0.1);
           padding:4px 5px 3px; 
           border-radius: 4px;

}
}
}


}/*nav*/


}/*header*/

section {
    .grid_10;
    .push_1;
}

article {
    h1{
    color:@grayDark;
    text-align:center;

    text-shadow: 0 1px 0 @white;

}
.grid_10;
border-bottom : 1px solid rgba(115,56,50,0.1);
padding: 1.667em 0;
figure{
    .grid_8; .omega;
    .image-wrapper{
    .border-radius(4px);
    height:150px;
    margin-bottom:10px;
    margin-right:10px;
}


}
    


.caption {

    .grid_2; .omega;
    min-height : 100px;
   
}/*caption*/


.popup{
    display:none;
}
&:hover {
    .popup {
    display: block;
}


}
}/*article*/   


article.admin {

    .grid_8; 

    .clearfix;
    border-bottom : 1px solid rgba(115,56,50,0.1);
    padding: 20px 0;

    .image-wrapper{
    .grid_2; .alpha;
}

.caption {
    .grid_2; .alpha;

}

.action {
    .grid_2; .omega;

}
}/*article admin*/   

article.feed {

    background-color: rgba(34,34,34,0.05);
    border-radius: 4px;
    color: #4999C3;
    border-bottom : none;

    .grid_12;

    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;


    .caption {
    .grid_3;
    h2,h3,p { line-height: 0.5;}
h2,h3 {text-shadow: 0px 1px 0px #22222}

}




}/*article.feed*/ 



article.contact-us{

  background :url(../img/contactus.jpg) no-repeat center center;
    color: #4999C3;
    border-bottom : none;

    .clearfix;

    height:575px;
    
    text-align:center;
    .caption {
    margin-top: 260px;
    text-align:left;
    width:42%;
    margin-left:28%;
    p { line-height: 1;
    padding-bottom: 15px;
border-bottom:1px solid #dedcdc; }
    
    p:last-child{
        
border-bottom:none;
        
    }


}




}/*article.contact-us*/ 



#masonry{
    position:relative;
    .grid_10; .alpha;
}

.thumb_parent {
    float:left;
    border-radius: 4px;
    color: #4999C3;
    border-bottom : none;

    margin-bottom : 10px;


    .image-wrapper{
    height:100px;
}

}/*.thumb_parent*/

article.parent {

    border-bottom : none;
    .image-primary{
    .grid_10; .alpha;
    box-shadow: 0 0 4px @grayDark;
    .border-radius(5px);
}

.caption{
    .grid_4;.alpha;

    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    display: inline;
    float: left;
    margin: 30px 0;
    padding: 5px;

}

figure{
    .grid_6;.alpha;
    .omega;

    margin : 30px 0;
}

}/*article.parent*/ 

article.see_also {
    border-bottom : none;
    .grid_2;
    .caption{
    .clearfix;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    display: inline;
    float: left;
    margin: 30px 0;
    padding: 5px;


    .image-primary{
    .grid_2; .alpha;
    box-shadow: 0 0 4px @grayDark;
    .border-radius(4px);
}

}

}/*article.see_also*/ 


footer {
    .grid_10; .push_1;
    font-size : 0.65em;

    ul{


    li{
    list-style :none;
    float: right; margin:0 10px;
    a{
    font-size : 1.7em;
}
}
}

}

a{
    text-decoration: none;
    color :  #55adff;
    }

a:hover{
    color: #F2B66D;
}


h1{
    font-size: 2.375em;
}
h2{
    font-size: 1.8em;
}

h1,h2,h3{
    font-family:  'Arial';
    font-weight: 400;
    letter-spacing: -0.008em;
    word-spacing: 0.17em;

    text-decoration: none;
}

p{
    line-height: 1.5;
}



.form-stacked{
    margin: 20px 0;

    div.right{
    width: 60%;
}

fieldset {
    padding-top: 9px;
}

legend {
    margin-left: 0;
}

label, input[type=submit] {
    display: block;
    float: none;
    width: auto;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
    margin-top:10px;
}

div.input {
    margin-left: 0;
    margin-bottom: 10px;
}

.inputs-list {
    margin-bottom: 0;
}

.inputs-list li {
    padding-top: 0;
}

.inputs-list li label {
    font-weight: normal;
    padding-top: 0;
}

div.error {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.actions {
    margin-left: -20px;
    padding-left: 20px;
}

button, input, select, textarea {
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    border-radius: 5px 5px 5px 5px;
}

legend {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 1.25em;
    font-weight:normal;
    padding : 5px 0px;
    width: 100%;
}




}

form.large{
    input, textarea {
    height: 20px;
    width: 360px;
    padding: 10px;

}

textarea{
    height: 200px;
}

input[type=submit]{
    height: 40px;
    padding:5px 10px 7px;
}
}


// CAROUSEL
// --------

.carousel {
    position: relative;
    line-height: 1;
    .grid_8; .alpha;

}

.carousel-inner {
    overflow: hidden;
    width: 100%;
    position: relative;
    height:350px;
}

.carousel {
    h2 {
    text-align:center;

    color: #5E5048;
    text-shadow: 0 2px 1px #291E18;
}


.item {
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);
}

// Account for jankitude on images
.item > img {
    display: block;
    line-height: 1;
    margin: auto;
    height: 350px;
}

.active,
.next,
.prev { display: block; }

.active {
    left: 0;
}

.next,
.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.next {
    left: 100%;
}
.prev {
    left: -100%;
}
.next.left,
.prev.right {
    left: 0;
}

.active.left {
    left: -100%;
}
.active.right {
    left: 100%;
}

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
    position: absolute;
    top: 45%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 30px;
    color: @white;
    text-align: center;
    background: @grayDarker;
    border: 3px solid @white;
    .border-radius(23px);
    .opacity(50);

    // we can't have this transition here
    // because webkit cancels the carousel
    // animation if you trip this while
    // in the middle of another animation
    // ;_;
    // .transition(opacity .2s linear);

    // Reposition the right one
    &.right {
    left: auto;
    right: 15px;
}

// Hover state
&:hover {
    color: @white;
    text-decoration: none;
    .opacity(90);
}
}

// Caption for text below images
// -----------------------------

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 5px;
    background: @grayDark;
    background: rgba(0,0,0,.75);
}
.carousel-caption h4,
.carousel-caption p {
    color: @white;
}
