@body-color : #353535;
@grey-color : #C1C0C0;
.gradientAll(@dir,@start,@stop) {
    background: linear-gradient(@arguments);
    background:  -o-linear-gradient(@arguments);
    background:  -moz-linear-gradient(@arguments);
    background:  -webkit-linear-gradient(@arguments);
    background:  -ms-linear-gradient(@arguments);    
}


@font-face {
    font-family: 'Cabin-Medium';
    src: url('fontface/Cabin-Medium.eot');
    src: url('fontface/Cabin-Medium.eot?#iefix') format('embedded-opentype'),
        url('fontface/Cabin-Medium.ttf') format('truetype'),
        url('fontface/Cabin-Medium.svg#GenzschEtHeyseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background : url(../img/admin/top.png) repeat-x top,url(../img/admin/body-text.jpg) repeat;
    font-size : 14px;
    color:@body-color;

}/*body*/

header{
    color :#4999C3;
    height: 50px;
    h1{
    text-shadow: 0 0 3px #5FCBEC;
    .grid_3;
    small {
    font-family: Cabin-Medium;
    font-size: 35%;
    text-align: right;}
}/*h1*/

/*logo*/

background:url(../img/admin/logo.png)  no-repeat -0px -4px;


nav{
    margin-left:200px;
    ul{
    display:inline;

    li{
    margin-top:12px;
    float:left;

    a {
    text-shadow: 0 1px 0 #479BCF;

    font-size : 1.2em;
    text-decoration :none;
    padding:15px 20px; 
}

a:hover { 
    background-color: rgba(34,34,34,0.2);
    border-radius: 2px;                 
}

a:active { 
    background-color: rgba(34,34,34,0.1);
    border-radius: 4px;
}
}
}
}/*nav*/


}/*header*/



section{

    margin-top:50px;
    .clearfix;
    h2{
    text-shadow: 0 1px 0 #FFFFFF;
    margin-top:3px;
    height: 47px;
    color:@grey-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    line-height: 2;
    padding: 0 0 0 30px ;
}

h3{
    font-size : 1.3em;
}

}

.contact-icon{
    min-height:260px;
    background:url(../img/transp.png) top left no-repeat;
}


aside{
    background:url(../img/admin/aside-top.jpg) top left repeat;
    h2{border-bottom: 1px solid rgba(255, 255, 255, 0.03);}
.grid_3;

h2 {
    color:@body-color;
    text-shadow:0 1px 0 #6E6E6E;
    margin: 0;
    border: 0 none;
    padding-bottom:0;
}

margin-top:-1px;
article {
    color:@grey-color;
    background:url(../img/admin/aside-content.jpg)repeat;
    .grid_3; .alpha;

    border-bottom : none;
    padding: 5px 0;

    figure > .image-wrapper{
    .grid_1; .alpha;
}

.caption {
    .grid_2; .omega;
    min-height : 100px;
}
}/*article*/   

}

article {

    background:#e9e9e9;
    margin-top:10px;
    .grid_9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);



    .clearfix;

    padding: 0 0 1.667em 0;

    .action {
    .grid_2;
}


figure{
    .image-wrapper{
    .grid_4; .omega; 
}

&.gallery{
    .clearfix;
    .image-wrapper{
    .grid_2; .omega;
}
}

}





.caption {
    .grid_4; .omega;
    min-height : 100px;

}


.list{
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.03) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 ); /* IE6-9 */

    padding:10px 0;
    h2{
    border:none;
    .grid_2;
}
.caption {
    .grid_2;
}
.action{

}

figure > img{
    .grid_2;
}

}/*list*/


}/*article*/   

#form_notification{
    .clearfix;
    background-color:rgba(255,255,255,0.8);
    position :fixed;
    top:50;
    padding:20px;
    display:none;
}


ul.filter {
    margin:20px 0;
    font-family: 'Lobster';
    text-align: center;
    li{
    display:inline;
    margin-left: 20px;
    list-style :none;
    font-size:1.4em;
    a{    text-decoration : none;     padding:4px 5px 6px; }
h3{ margin: 0 0;}


}
}


article.form {
    .grid_4;
    figure img, .caption {.grid_4; .alpha;}

}/*article*/ 

article.form-post {
    .grid_8;
}/*article*/ 

article.pics-collate {
    .grid_4;
    figure img, .caption {.grid_4; .alpha; p{padding:0 5px 0 30px;}}

}/*article*/ 

.action{
    text-align: left;
    ul{ list-style:none; padding-left:0px; 
    li{ margin: 5px 5px; float: left; 
    a{ 
    padding:2px 5px;
    background-color: rgba(0,0,0,0.03);
}
}
}
}



article.feed {

    background-color: rgba(255,255,234,0.03);
    border-radius: 4px;
    border-bottom : none;

    .clearfix;
    padding:20px 0;
    margin-top: 20px;


    .caption {
    .grid_2;
    h2,h3,p { line-height: 1;}
h2,h3 {text-shadow: 0px 1px 0px #22222}

}


}/*article.feed*/ 

section.blog{
    margin-top:30px;

    article {

    h3{
    .grid_2
}


.caption{
    .grid_4;
}

}
}


footer {
    .grid_12;
    font-family : 'monospace';
    font-size : 0.65em;
    text-align:center;

}

a{
    text-decoration: none;
    color: #1B425D;

    &:hover{
        color: #80C0E8;
}
&:visited{
    color: #1B425D;
}
}

h1{
    font-size: 2.375em;
}
h2{
    font-size: 1.5em;
}

h1,h2,h3{
    font-family: 'Cabin-Medium', 'Arial';
    font-weight: 400;
    letter-spacing: -0.008em;
    word-spacing: 0.17em;
    line-height: 0.6;
    text-decoration: none;
    color: #7031af;
}

p{
    font-family: 'Cabin-Medium', 'Sans-Serif';
    line-height: 1.5;
}


.form-stacked{
    margin: 20px 30px;

    div.right{
    width: 60%;
}

fieldset {
    padding-top: 9px;
}

legend {
    margin-left: 0;
}

label, input[type=submit]{
    display: block;
    float: none;
    width: auto;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
    margin-top:10px;
}

input[type=submit]:hover{
    background-color: #2c6a96;
    color: #51acec;
}

input[type=checkbox] {
    float: none;
    width: auto;
    text-align: left;
    padding-top: 0;
}

div.input {
    margin-left: 0;
    margin-bottom: 10px;
}

.inputs-list {
    margin-bottom: 0;
}

.inputs-list li {
    padding-top: 0;
}

.inputs-list li label {
    font-weight: normal;
    padding-top: 0;
}

div.error {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.actions {
    margin-left: -20px;
    padding-left: 20px;
}

button, input, select, textarea {
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    border-radius: 5px 5px 5px 5px;
}



}

form.large{
    input, textarea {
    height: 20px;
    width: 95%;
    padding: 10px;

}

textarea{
    min-height: 400px;
}

input[type=submit]{
    height: 40px;
    padding:5px 10px 7px;
}
}

