{% extends 'admin/layout.html' %}

{% block page_title %}
Product Admin
{% endblock %}


{% block section %}

<article>

    <h1>Create User</h1>
    <p>Please enter the users information below.</p>

    <div id="infoMessage">{{message | raw }}</div>

    {{ form_open("auth/create_user") |raw}}
    <p>First Name:<br />
      {{ form_input(first_name) |raw}}
        </p>

        <p>Last Name:<br />
      {{ form_input(last_name)|raw}}
            </p>

            <p>Company Name:<br />
      {{ form_input(company)|raw}}
                </p>

                <p>Email:<br />
      {{ form_input(email)|raw}}
                    </p>

                    <p>Phone:<br />
      {{ form_input(phone1)|raw}}
                        </p>

                        <p>Password:<br />
      {{ form_input(password)|raw}}
                            </p>

                            <p>Confirm Password:<br />
      {{ form_input(password_confirm)|raw}}
                                </p>


                                <p>{{ form_submit('submit', 'Create User')|raw}}</p>


    {{ form_close()|raw}}

                            </article>

{% endblock %}
